name: Build LibCore (AAR)

on:
  workflow_dispatch:

jobs:
  libcore:
    name: Build libcore.aar
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Golang
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"

      - name: Build LibCore
        run: ./run lib core

      - name: Upload libcore.aar
        uses: actions/upload-artifact@v4
        with:
          name: libcore-aar
          path: app/libs/libcore.aar
